<h2><%= t('article.edit') %></h2>

<%= bootstrap_form_for :article, url: article_path(@article), method: :patch do |f| %>

  <p>
    <%= f.text_field :title, label: 'Название' %>
  </p>

  <p>
    <%= f.text_area :text, label: 'Содержание' %>
  </p>

  <p>
    <%=f.submit 'Сохранить'%>
  </p>

<% end %>
