<h1>Новая статья</h1>

<%= bootstrap_form_for :article, url: articles_path do |f| %>

  <% if @article && @article.errors.any? %>
    <p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <%= f.text_field :title, label: 'Название' %>
  </p>

  <p>
    <%= f.text_area :text, label: 'Содержание' %>
  </p>

  <p>
    <%=f.primary 'Сохранить'%>
  </p>

<% end %>
